# Sentiment Analyst

## Corpus

In [18]:
import pandas as pd
from sklearn.model_selection import train_test_split

### import file

In [19]:
df_train = pd.read_csv("sa.csv")
df_test = pd.read_csv("test.csv")

In [20]:
df_train

                                                Title  Tone
0   # SpeakYourMind : YEP hosts free mental health...     1
1   Ed Sheeran and Ella Eyre lead the way as stars...     1
2   Day of play to say You Matter : youths host fi...     1
3   Bryony Gordon helps Meet Cambridge raise over ...     1
4   Patients to benefit from mental health unit in...     1
5   Share a Cuppa this World Mental Health Day at ...     1
6   Dallas - Fort Worth Hospital Council Foundatio...     1
7                  Thinking about mental health month     1
8   Nine in 10 united kingdom Workers Touched by M...     1
9   Longford locals to light up night for mental h...     1
10  Psychological Distress Declines in U . S . Adults     0
11  Youth mental health - how schools can improve ...     0
12  Monzo and Starling are making banks take menta...     0
13  Antidepressants were the second most prescribe...     0
14  REVEALED : Rise in number of antidepressants p...     0
15  Mandatory Mental Health Classes Coming To New ...     0
16   More evidence exercise may be good for your mood     0
17                    Mental health talk in Coquitlam     0
18  Alcoholism cited as major contributor to menta...     0
19  Study finds Many Iowans with mental illness go...     0
20  TK Maxx removes offensive OCD Christmas decor ...    -1
21  Risk Factors Identified for Suicidal Ideation ...    -1
22    Social Stigma Worsens Mental Health With Autism    -1
23  Siena Yates : Is mental illness what we fear m...    -1
24  One in EIGHT children have mental health problems    -1
25  How stress associated with social stigma affec...    -1
26  Why Kids Suffer From Depression and Mental Hea...    -1
27  Mental health challenges facing the modern Afr...    -1
28  Social stigma contributes to poor mental healt...    -1
29             Mental health and stigma - Daily Times    -1

### To Array

In [21]:
corpus_train = []
for index, row in df_train.iterrows() :
    corpus_train.append({'text': row['Title'], 'sentiment': str(row['Tone'])})
corpus_test = []
for index, row in df_test.iterrows() :
    corpus_test.append({'text': row['Title'], 'sentiment': str(row['Tone'])})

### Create data as test and train

In [22]:
train_corpus = pd.DataFrame.from_dict(corpus_train)
X_train = train_corpus.text
y_train = train_corpus.sentiment

test_corpus = pd.DataFrame.from_dict(corpus_test)
X_test = test_corpus.text
y_test = test_corpus.sentiment

## Testing, Predicting using TF-IDF, HASHING OR COUNT

In [23]:
testing = ['Teenager being offensive towards patient with autism', 
           'New mental institution in U.S', 
           'A lot of people get benefits from the new mental health institution',
           'Man suffered from depression', 
           'Free mental health aid']

## TF-IDF

In [24]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vect = TfidfVectorizer(stop_words='english')
X_train_dtm = tfidf_vect.fit_transform(X_train)
X_test_dtm = tfidf_vect.transform(X_test)

In [25]:
print(tfidf_vect.vocabulary_)

{'speakyourmind': 133, 'yep': 166, 'hosts': 71, 'free': 59, 'mental': 95, 'health': 65, 'aid': 8, 'course': 33, 'leeds': 84, 'ed': 45, 'sheeran': 129, 'ella': 46, 'eyre': 50, 'lead': 83, 'way': 157, 'stars': 136, 'throw': 147, 'weight': 159, 'music': 100, 'gog': 60, 'day': 37, 'play': 109, 'say': 124, 'matter': 92, 'youths': 169, 'host': 70, 'time': 149, 'event': 47, 'bryony': 17, 'gordon': 62, 'helps': 67, 'meet': 94, 'cambridge': 19, 'raise': 116, '2k': 3, 'charity': 22, 'business': 18, 'weekly': 158, 'technology': 145, 'news': 102, 'patients': 107, 'benefit': 16, 'unit': 153, 'investment': 76, 'share': 128, 'cuppa': 34, 'world': 161, 'thyme': 148, 'lake': 82, 'dallas': 36, 'fort': 57, 'worth': 163, 'hospital': 69, 'council': 32, 'foundation': 58, 'receive': 117, 'hhsc': 68, 'grant': 63, 'state': 137, 'reform': 118, 'thinking': 146, 'month': 97, '10': 0, 'united': 154, 'kingdom': 81, 'workers': 160, 'touched': 152, 'challenges': 21, 'accenture': 4, 'research': 120, 'finds': 54, 'longford': 87, 'locals': 86, 'light': 85, 'night': 103, 'psychological': 114, 'distress': 42, 'declines': 38, 'adults': 5, 'youth': 168, 'schools': 125, 'improve': 75, 'provision': 113, 'monzo': 98, 'starling': 135, 'making': 89, 'banks': 15, 'seriously': 127, 'antidepressants': 10, 'second': 126, 'prescribed': 111, 'drug': 44, 'halton': 64, 'year': 165, 'revealed': 121, 'rise': 122, 'number': 104, 'doctors': 43, 'st': 134, 'helens': 66, 'mandatory': 91, 'classes': 26, 'coming': 27, 'new': 101, 'york': 167, 'evidence': 48, 'exercise': 49, 'good': 61, 'mood': 99, 'talk': 144, 'coquitlam': 31, 'alcoholism': 9, 'cited': 25, 'major': 88, 'contributor': 30, 'cases': 20, 'study': 140, 'iowans': 77, 'illness': 74, 'untreated': 155, 'kicd': 79, 'fm': 55, 'radio': 115, '102': 1, '1240': 2, 'tk': 151, 'maxx': 93, 'removes': 119, 'offensive': 106, 'ocd': 105, 'christmas': 24, 'decor': 39, 'following': 56, 'backlash': 14, 'risk': 123, 'factors': 52, 'identified': 73, 'suicidal': 143, 'ideation': 72, 'substance': 141, 'use': 156, 'disorders': 41, 'social': 131, 'stigma': 138, 'worsens': 162, 'autism': 12, 'siena': 130, 'yates': 164, 'fear': 53, 'society': 132, 'children': 23, 'problems': 112, 'stress': 139, 'associated': 11, 'affects': 6, 'autistic': 13, 'people': 108, 'kids': 80, 'suffer': 142, 'depression': 40, 'issues': 78, 'facing': 51, 'modern': 96, 'african': 7, 'male': 90, 'contributes': 29, 'poor': 110, 'community': 28, 'daily': 35, 'times': 150}

In [26]:
pd.DataFrame(X_train_dtm.toarray(), columns = tfidf_vect.get_feature_names()).head()

,10,102,1240,2k,accenture,adults,affects,african,aid,alcoholism,...,workers,world,worsens,worth,yates,year,yep,york,youth,youths
0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.371174,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.371174,0.0,0.0,0.000000
1,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
2,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.358173
3,0.0,0.0,0.0,0.239468,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
4,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000

### Naive Bayes

In [27]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()

In [28]:
from sklearn import metrics

%time nb.fit(X_train_dtm, y_train)
#Prediksi
y_pred_class = nb.predict(X_test_dtm)
print("Prediksi: ", y_pred_class)
print("Benar: ", y_test.values)
#Nilai akurasi, presisi
akurasi = metrics.accuracy_score(y_test, y_pred_class)
presisi = metrics.precision_score(y_test, y_pred_class, average='weighted')
recall = metrics.recall_score(y_test, y_pred_class, average='weighted')
conf_matrix = metrics.confusion_matrix(y_test, y_pred_class)
print("Akurasi: ", akurasi, "\nPresisi: ", presisi, "\nRecall: ", recall, "\nConfussion Matrix:\n", conf_matrix)

Wall time: 2 ms
Prediksi:  ['1' '1' '1' '0' '-1' '0' '-1' '-1' '-1']
Benar:  ['1' '1' '1' '0' '0' '0' '-1' '-1' '-1']
Akurasi:  0.8888888888888888
Presisi:  0.9166666666666666
Recall:  0.8888888888888888
Confussion Matrix:
 [[3 0 0]
 [1 2 0]
 [0 0 3]]

In [30]:
testing = ['Teenager being offensive towards patient with autism', 
           'New mental institution in U.S', 
           'A lot of people get benefits from the new mental health institution',
           'Man suffered from depression', 
           'Free mental health aid']

new_article_vect = tfidf_vect.transform(testing)
nb.predict(new_article_vect)

array(['-1', '0', '-1', '-1', '1'], dtype='<U2')

## HASHING

In [47]:
from sklearn.feature_extraction.text import HashingVectorizer

hash_vect = HashingVectorizer (alternate_sign=False, stop_words='english')
X_train_dtm_hash = hash_vect.fit_transform(X_train)
X_test_dtm_hash = hash_vect.transform(X_test)

In [48]:
print(X_train_dtm_hash.shape)
print(X_train_dtm_hash.toarray())

(30, 1048576)
[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

In [49]:
%time nb.fit(X_train_dtm_hash, y_train)
#Prediksi
y_pred_class = nb.predict(X_test_dtm_hash)
print("Prediksi: ", y_pred_class)
print("Benar: ", y_test.values)
#Nilai akurasi, presisi
akurasi = metrics.accuracy_score(y_test, y_pred_class)
presisi = metrics.precision_score(y_test, y_pred_class, average='weighted')
recall = metrics.recall_score(y_test, y_pred_class, average='weighted')
conf_matrix = metrics.confusion_matrix(y_test, y_pred_class)
print("Akurasi: ", akurasi, "\nPresisi: ", presisi, "\nRecall: ", recall, "\nConfussion Matrix:\n", conf_matrix)

Wall time: 982 ms
Prediksi:  ['1' '1' '1' '1' '-1' '0' '-1' '-1' '0']
Benar:  ['1' '1' '1' '0' '0' '0' '-1' '-1' '-1']
Akurasi:  0.6666666666666666
Presisi:  0.6388888888888888
Recall:  0.6666666666666666
Confussion Matrix:
 [[2 1 0]
 [1 1 1]
 [0 0 3]]

In [50]:
# PREDIKSI LIST TITLE (VAR TESTING)
new_article_vect = hash_vect.transform(testing)
nb.predict(new_article_vect)

array(['-1', '0', '-1', '-1', '1'], dtype='<U2')

## COUNT

In [56]:
from sklearn.feature_extraction.text import CountVectorizer

count_vect = CountVectorizer( stop_words='english')
X_train_dtm_count = count_vect.fit_transform(X_train)
X_test_dtm_count = count_vect.transform(X_test)

In [57]:
print(count_vect.vocabulary_)

{'speakyourmind': 133, 'yep': 166, 'hosts': 71, 'free': 59, 'mental': 95, 'health': 65, 'aid': 8, 'course': 33, 'leeds': 84, 'ed': 45, 'sheeran': 129, 'ella': 46, 'eyre': 50, 'lead': 83, 'way': 157, 'stars': 136, 'throw': 147, 'weight': 159, 'music': 100, 'gog': 60, 'day': 37, 'play': 109, 'say': 124, 'matter': 92, 'youths': 169, 'host': 70, 'time': 149, 'event': 47, 'bryony': 17, 'gordon': 62, 'helps': 67, 'meet': 94, 'cambridge': 19, 'raise': 116, '2k': 3, 'charity': 22, 'business': 18, 'weekly': 158, 'technology': 145, 'news': 102, 'patients': 107, 'benefit': 16, 'unit': 153, 'investment': 76, 'share': 128, 'cuppa': 34, 'world': 161, 'thyme': 148, 'lake': 82, 'dallas': 36, 'fort': 57, 'worth': 163, 'hospital': 69, 'council': 32, 'foundation': 58, 'receive': 117, 'hhsc': 68, 'grant': 63, 'state': 137, 'reform': 118, 'thinking': 146, 'month': 97, '10': 0, 'united': 154, 'kingdom': 81, 'workers': 160, 'touched': 152, 'challenges': 21, 'accenture': 4, 'research': 120, 'finds': 54, 'longford': 87, 'locals': 86, 'light': 85, 'night': 103, 'psychological': 114, 'distress': 42, 'declines': 38, 'adults': 5, 'youth': 168, 'schools': 125, 'improve': 75, 'provision': 113, 'monzo': 98, 'starling': 135, 'making': 89, 'banks': 15, 'seriously': 127, 'antidepressants': 10, 'second': 126, 'prescribed': 111, 'drug': 44, 'halton': 64, 'year': 165, 'revealed': 121, 'rise': 122, 'number': 104, 'doctors': 43, 'st': 134, 'helens': 66, 'mandatory': 91, 'classes': 26, 'coming': 27, 'new': 101, 'york': 167, 'evidence': 48, 'exercise': 49, 'good': 61, 'mood': 99, 'talk': 144, 'coquitlam': 31, 'alcoholism': 9, 'cited': 25, 'major': 88, 'contributor': 30, 'cases': 20, 'study': 140, 'iowans': 77, 'illness': 74, 'untreated': 155, 'kicd': 79, 'fm': 55, 'radio': 115, '102': 1, '1240': 2, 'tk': 151, 'maxx': 93, 'removes': 119, 'offensive': 106, 'ocd': 105, 'christmas': 24, 'decor': 39, 'following': 56, 'backlash': 14, 'risk': 123, 'factors': 52, 'identified': 73, 'suicidal': 143, 'ideation': 72, 'substance': 141, 'use': 156, 'disorders': 41, 'social': 131, 'stigma': 138, 'worsens': 162, 'autism': 12, 'siena': 130, 'yates': 164, 'fear': 53, 'society': 132, 'children': 23, 'problems': 112, 'stress': 139, 'associated': 11, 'affects': 6, 'autistic': 13, 'people': 108, 'kids': 80, 'suffer': 142, 'depression': 40, 'issues': 78, 'facing': 51, 'modern': 96, 'african': 7, 'male': 90, 'contributes': 29, 'poor': 110, 'community': 28, 'daily': 35, 'times': 150}

In [58]:
pd.DataFrame(X_train_dtm_count.toarray(), columns = count_vect.get_feature_names()).head()

,10,102,1240,2k,accenture,adults,affects,african,aid,alcoholism,...,workers,world,worsens,worth,yates,year,yep,york,youth,youths
0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [59]:
%time nb.fit(X_train_dtm_count, y_train)
#Prediksi
y_pred_class = nb.predict(X_test_dtm_count)
print("Prediksi: ", y_pred_class)
print("Benar: ", y_test.values)
#Nilai akurasi, presisi
akurasi = metrics.accuracy_score(y_test, y_pred_class)
presisi = metrics.precision_score(y_test, y_pred_class, average='weighted')
recall = metrics.recall_score(y_test, y_pred_class, average='weighted')
conf_matrix = metrics.confusion_matrix(y_test, y_pred_class)
print("Akurasi: ", akurasi, "\nPresisi: ", presisi, "\nRecall: ", recall, "\nConfussion Matrix:\n", conf_matrix)

Wall time: 2 ms
Prediksi:  ['1' '1' '1' '1' '-1' '0' '-1' '-1' '-1']
Benar:  ['1' '1' '1' '0' '0' '0' '-1' '-1' '-1']
Akurasi:  0.7777777777777778
Presisi:  0.8333333333333334
Recall:  0.7777777777777778
Confussion Matrix:
 [[3 0 0]
 [1 1 1]
 [0 0 3]]

In [60]:
# PREDIKSI LIST TITLE (VAR TESTING)
new_article_vect = count_vect.transform(testing)
nb.predict(new_article_vect)

array(['-1', '0', '-1', '-1', '1'], dtype='<U2')